* {
    margin: 0;
    padding: 0;
}


#game-screen {
    position: relative;
    overflow: hidden;
    background-image: url("../image/jungle.jpg");
    background-size: 100%;
    background-position-y: 32%;
    background-repeat: no-repeat;
    margin: 200px auto;
}

/* #body {
    color: #efc044; */